# Environment Variables untuk HSO Accurate Sync Engine
# Copy file ini ke .env dan isi nilainya

# ============================
# SUPABASE
# ============================
SUPABASE_URL=https://frmcfdelyznzpyctiugm.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZybWNmZGVseXpuenB5Y3RpdWdtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NTEwMDU3MiwiZXhwIjoyMDgwNjc2NTcyfQ.0ITw8sPFxklspGidxHoCsrfhaxwR2nW5j-bjR5IZviE

# ============================
# ACCURATE ONLINE API
# ============================
ACCURATE_BASE_URL=https://zeus.accurate.id
# Bearer Token dari Accurate Developer Portal (atau ACCURATE_ACCESS_TOKEN)
ACCURATE_BEARER_TOKEN=aat.NTA.eyJ2IjoxLCJ1Ijo1NDk3NjksImQiOjk3NjgxNywiYWkiOjU1NjA5LCJhayI6IjIyYzMxYzc1LTNhZjctNGRmZS04NzcwLTNiOWExMmNjMzAwYSIsImFuIjoiV2ViIEFwaSIsImFwIjoiYTNkYmJmY2MtMmU2Ny00YjQ5LTljNDQtNjNjZTlkNjk3ODllIiwidCI6MTc0NzIxOTgyNDI2M30.10JQiTa7Q3cwGX05diQxsXpOwL/NEe4zFfuStrupwrG5a+vbUhh79qIEh+yMct9YG0qtsLt8E6aMzcP62qBTMTiQjzvpAM8qXxFsvbhw6KZSVm9ToIvWF6a4xxI6/ZwqahtuKYyTG9/siqVc6xQlkCvd8Kb0Aawf0R+3qbWWM3gpt7lsM35lQRefpWmD1jqKqpPFeaFOcXIkJJYfVh9L/w==.YfeJD4hHsaPidTOmY40RwuADLVSauKlIVSlpf3teZDg
# Secret Key untuk generate HMAC-SHA256 Signature (atau ACCURATE_SIGNATURE_SECRET)
ACCURATE_SECRET_KEY=NqS1k5iqrOEWIAzXnsN8kKEpYOkDdPDekxhF5yVOKkC0O4q6XBo89GRnpNvat1JS

# ============================
# SERVER
# ============================
PORT=3005

# ============================
# SYNC CONFIG
# ============================
# Berapa data per halaman saat sync (default 50)
SYNC_PAGE_SIZE=50
# Berapa hari ke belakang untuk full sync / deep sync (default 30)
SYNC_DAYS_BACK=30
